body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person {
  height: 120px; 
  opacity: 0.3; 
  margin-top: 20px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.button img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.button h3 {
  font-size: 18px;
  font-weight: 500;
  color: #222;
}

.button:nth-child(1) img {
  filter: invert(37%) sepia(7%) saturate(93%) hue-rotate(238deg)
    brightness(108%) contrast(100%);
}

.button:nth-child(2) img {
  filter: invert(37%) sepia(7%) saturate(93%) hue-rotate(238deg)
    brightness(108%) contrast(100%);
}

section {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  max-width: 1000px;
}

.headerdiv {
  position: absolute;
  right: 20px;
}

header {
  background-color: #2e6da4;
  color: #fff;
  padding: 20px;
  height: 100px;
}

img {
  height: 80px;
}

ul > li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}
